<ul class="languages list">
  {{#each htmlWebpackPlugin.options.data.languageData.languages}}
    <li class="language-item">
      <a href="{{linkToGoogleDrive}}" class="usa-button enlang" data-enlang="{{enName}}">
        {{language}}
      </a>
      <small>{{enName}}</small>
    </li>
  {{/each}}
</ul>
