<ul class="primary-list languages">
  {{#each htmlWebpackPlugin.options.data.primaryLanguages.primaryLanguages}}
    <li class="language-item">
      <a href="/more-info/{{enName}}.html" class="usa-button-big" data-enlang="{{enName}}">
        {{language}}
      </a>
      <small>{{enName}}</small>
    </li>
  {{/each}}
</ul>
