<ul class="secondary-list languages list" id="secondary-languages-list">
  {{#each htmlWebpackPlugin.options.data.secondaryLanguages.secondaryLanguages}}
    <li class="language-item">
      <button class="usa-button language enlang" data-enlang="{{enName}}">
        {{language}}
      </button>
      <small>{{enName}}</small>
    </li>
  {{/each}}
</ul>
