<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Welcome to the Census 2020
      {{/if}}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="./styles/uswds.css" type="text/css">
    <link rel="stylesheet" href="./styles/custom.css" type="text/css">
  </head>
  <body>
    {{data}}
    {{#> body-content}}
      {{!-- body content goes here. --}}
    {{/body-content}}
  </body>
</html>
