{{#> layouts/base }}
  {{#*inline "body-content"}}
    <main>
      <header>
        <div>
          <picture class="main-logo-container">
            <source
              srcset="{{htmlWebpackPlugin.options.data.assetPath}}/img/main-logo-sm-2x.png"
              media="(max-width:600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
            >
            <source
              srcset="{{htmlWebpackPlugin.options.data.assetPath}}/img/main-logo-sm.png"
              media="(max-width:600px)"
            >
            <img
              src="{{htmlWebpackPlugin.options.data.assetPath}}/img/main-logo.png"
              alt="Count Me In: Census 2020. Our community counts; our community belongs. Image of the seal of the County of Alameda California."
            >
          </picture>
          <h1>
            <span class="fancy-header-text">Download the</span><br>
            2020 Census Guide<br>
            <span class="fancy-header-text second">in over 70 languages</span>
          </h1>
          <h2>
            <img
              alt="help question mark icon"
              aria-hidden="true"
              height="25"
              src="./public/img/question-circle.png"
              width="25"
            >
            Help: 510-555-1234
          </h2>
        </div>
        <img src="https://via.placeholder.com/264x300" height="300" width="264" alt="image of the census guide">
      </header>
      <section class="languages" id="languages-list" role="search">
        <form class="languages-list-filter usa-search usa-search-big">
          <label class="usa-sr-only" for="language-filter">More Languages</label>
          <img
            class="languages-icon"
            src="{{htmlWebpackPlugin.options.data.assetPath}}/img/languages_icon.png"
            alt="find more language options below"
          >
          <div class="input-container">
            <input
              class="search"
              id="language-filter"
              name="search"
              placeholder="Search for a language..."
              title="Type in a language"
              type="search"
            >
            <button type="submit">
              <span class="usa-search-submit-text">Search</span>
            </button>
          </div>
        </form>
        {{> ../partials/languages-list }}
      </section>

    </main>
  {{/inline}}
{{/layouts/base}}
