{{#> layouts/base title="Welcome to Alameda County 2020" assetPath="./public" }}
  {{#*inline "body-content"}}
    <main>
      <h1>Alameda County: Let's Get Counted 2020</h1>
      <section class="primary-languages">
        {{> ../partials/primary-languages-list }}
      </section>

      <section class="secondary-languages" id="secondary-languages-list" role="search">
        <div class="more-icons-container">
          <img class="languages-icon" src="{{assetPath}}/img/languages_icon.png" alt="find more language options below">
          <i class="fas fa-arrow-down"></i>
        </div>
        <form class="secondary-languages-filter usa-search usa-search-big">
          <label class="usa-sr-only" for="language-filter">More Languages</label>
          <input
            class="search"
            id="language-filter"
            name="search"
            placeholder="Search for a language..."
            title="Type in a language"
            type="search"
          >
          <button type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </form>
        {{> ../partials/secondary-languages-list }}
      </section>

    </main>
  {{/inline}}
{{/layouts/base}}
