{{#> layouts/base }}
  {{#*inline "body-content"}}
    <main>
      <header>
        <picture class="main-logo-container">
          <source
            srcset="{{htmlWebpackPlugin.options.data.assetPath}}/img/main-logo-sm-2x.png"
            media="(max-width:600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
          >
          <source
            srcset="{{htmlWebpackPlugin.options.data.assetPath}}/img/main-logo-sm.png"
            media="(max-width:600px)"
          >
          <img
            src="{{htmlWebpackPlugin.options.data.assetPath}}/img/main-logo.png"
            alt="Count Me In: Census 2020. Our community counts; our community belongs. Image of the seal of the County of Alameda California."
          >
        </picture>
      </header>
      <section class="primary-languages">
        {{> ../partials/primary-languages-list }}
      </section>

      <section class="secondary-languages" id="secondary-languages-list" role="search">
        <div class="more-icons-container">
          <img
            class="languages-icon"
            src="{{htmlWebpackPlugin.options.data.assetPath}}/img/languages_icon.png"
            alt="find more language options below"
          >
          <i class="fas fa-arrow-down"></i>
        </div>
        <form class="secondary-languages-filter usa-search usa-search-big">
          <label class="usa-sr-only" for="language-filter">More Languages</label>
          <input
            class="search"
            id="language-filter"
            name="search"
            placeholder="Search for a language..."
            title="Type in a language"
            type="search"
          >
          <button type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </form>
        {{> ../partials/secondary-languages-list }}
      </section>

    </main>
  {{/inline}}
{{/layouts/base}}
