{{#> layouts/base title="Additional Resources" assetPath="./../public" }}
  {{#*inline "body-content"}}
    <main class="more-info-main">
      <nav class="more-info-nav">
        {{!-- TODO: this should go back to the appropriate language more-info page --}}
        <a href="/" class="usa-button-big">
          ← Go Back
        </a>
        <a href="https://respond.census.gov/acs/#respond" class="usa-button-big">
          Start →
        </a>
      </nav>
      <h1>Additonal Resources</h1>

      <ul>
        {{#each htmlWebpackPlugin.options.data.content.list}}
        <li><a href="{{link}}">{{copy}}</a></li>
        {{/each}}
      </ul>

    </main>
  {{/inline}}
{{/layouts/base}}
