a.usa-button-big {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
}

main {
  margin: 2em auto;
  max-width: 90%;
}

/* index.html */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

header h1 {
  flex-wrap: wrap;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
  line-height: 1;
}

.fancy-header-text {
  color: #999;
  font-weight: 300;
  font-size: 2rem;
}
.fancy-header-text.second {
  float: right;
}

header h2 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1;
  margin: 6rem 0 0;
}

.question-circle-icon {
  background-image: url(../img/question-circle.png);
  display: block;
  height: 2rem;
  width: 2rem;
}

.main-logo-container {
  display: block;
  margin-top: 2rem;
  max-width: 200px;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.languages-list {
  align-content: flex-start;
  min-height: 900px;
}

.languages-list .usa-button {
  margin: 0.15em;
  width: 150px;
}

.languages-list-filter {
  margin: 0 auto 2em;
  width: 80%;
}

.language-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.languages-icon {
  float: left;
  height: 44px;
  width: 44px;
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 900px;
    padding: 0 2em;
  }

  .secondary-header {
    display: block;
    height: 75px;
    width: 100%;
  }

  .secondary-header-nav {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 1.5rem 3rem;
    width: auto;
  }

  .secondary-header-nav__back {
    float: left;
  }

  .secondary-header-nav__start {
    float: right;
  }

  .more-info-facts {
    flex-direction: row;
    margin: 10rem 0 5rem;
  }

  .additional-resources-button {
    max-width: 300px;
  }

  .infographic-down-arrow {
    display: none;
  }
  .infographic-right-arrow {
    display: block;
  }
}

.dark {
  background-color: #333;
  color: #ccc;
}
